.encabezado{
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #2E236C;
    align-items: center;
}

.menu{
    margin-right: 10px;
}

.menu a{
    font-size: 15px;
    color:#C8ACD6;
    text-decoration: none;
    margin-left: 16px;
}

.menu a:hover{
    border: solid 1px #C8ACD6;
    padding: 5px;
    background-color: #433D8B;
    border-radius: 8px;
}

.encabezado h1{
    color: #C8ACD6;
    font-size: 30px;
    margin: 20px;
}